*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }

body {
  background: #f4f4f4; }

.main {
  max-width: 100vw;
  height: 100vh;
  border: #eaecef;
  padding: 2rem;
  font-family: "Raleway", sans-serif; }
  .main-title {
    color: #5c75ea;
    font-size: 2.5rem; }
  .main-title > b {
    color: #00B7FF; }
  .main-link {
    border: 1px solid #eaecef;
    border-radius: .5rem;
    background: #00B7FF;
    color: #fff;
    border: none;
    font-size: 1.3rem;
    padding: 1.2rem 2rem;
    text-decoration: none;
    margin-top: 2rem; }

.main > p {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 4rem; }
