$primary_blue: #00B7FF;
$primary_purple: #5c75ea;
$primary_green: #00C9A7;
$primary_grey: #eaecef;
$primary_red: #d7263d;

// Accents Colors
$charcoal: #4B4453;
$alt_purple: #8a5cea;
$alt_red: #e84855;
$alt_yellow: #F9F871;

$neon_purple: #5183f5;

$primary_font: 'Raleway',
sans-serif;

$font_lg: 6rem;


$font_md: 4rem;


$font_sm:2rem;

$font_para:1.6rem;

/* --- Common Color Palette --- */
/*
#00B7FF - Bright Blue
#5c75ea - Bright Purple
#d7263d - Red
#61E294 - Green
#8a5cea - Purple
#d20068 - Accent Red
#5CBCEA - Baby Blue
#eaecef - Light Grey Border
#e84855 - Flat Red
#FF6F91 - Flat pink
#F9F871 - Flat yellow
#FA9823 - Flat orange
#00C9A7 - Flat green
#4B4453 - Flat charcoal
#5183f5 - Neon Purple for Borders
#b3b9c5 - Grey Color (text w/ dark theme)
*/