*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}



.main {
    max-width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-family: $primary-font;

    &-title {
        color: $primary-color;
        font-size: 2.5rem;

    }

    &-title>b {
        color: $secondary-color;
    }

    &-link {
        @include rounded-edges;
        background: $secondary-color;
        color: #fff;
        border: none;
        font-size: 1.3rem;
        padding: 1.2rem 2rem;
        text-decoration: none;
        margin-top: 2rem;
    }


}




.main>p {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 4rem;
}